html, body {
    height: 100%;
    margin: 0;
    background-color: white;
}
p{
    margin-top: 0;
}
.actual-gameplay {
    float: left;
    background-color: #26232A;
    height: 100vh;
    width: 73%;
    overflow: hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.girl{
    width: auto;
    max-height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-filter: drop-shadow(0px 0px 100px black);
    filter: drop-shadow(0px 0px 100px black);
    pointer-events: none;
}

.score {
    position: absolute;
    top: 32px;
    left: 52px;
    font-family: RobotoCustom;
    color: white;
    font-size: 64px;
}

.stage {
    position: absolute;
    bottom: 32px;
    left: 52px;
    font-family: RobotoCustom;
    color: white;
    font-size: 32px;
}

.bar {
    display:flex;
    align-items:center;
    justify-content: center;
    float: right;
    background-color: #1D1B20;
    height: 100vh;
    width: 27%;
    overflow:hidden;
    box-shadow: inset 4px 0px 0px 0px dimgray;
}

.HPC1 {
    position: absolute;
    top: 32px;
    justify-content: center;
    font-family: RobotoCustom;
    color: white;
    font-size: 64px;
}

.HPC2 {
    position: absolute;
    top: 96px;
    justify-content: center;
    font-family: RobotoCustom;
    color: white;
    font-size: 64px;
}

.tentacle-shop {
    position: absolute;
    top: 192px;
    justify-content: center;
    font-family: RobotoCustom;
    color: white;
    font-size: 48px;
}

.tentacle {
    margin-top: 250px;
}

.tentacle-design {
    font-family: RobotoCustom;
    color: white;
    height: 13vh;
    width: 25vw;
    float: left;
    position: relative;
    left: 51%;
    transform: translate(-50%, 0);
    background-color: #211F23;
    border: 1px dashed black;
    overflow: hidden;
}

.tentacle-design:hover {
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
    text-shadow: 0 0 30px #ccc;
}

.tentIMG {
    position: absolute;
    left: 15px;
    top: 0;
    width: auto;
    max-height: 100%;
}

.tentacle-name {
    font-size: 30px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top: 5px;
}

.tentacle-count {
    position: absolute;
    left: 10%;
    font-size: 30px;
    bottom: -30px;
}

.tentacle-price {
    font-size: 24px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    bottom: -20px;
}

@font-face {
    font-family: "RobotoCustom";
    src: url("../Roboto-Thin.ttf");
    font-weight: normal;
    font-style:normal;
}