html {
  background: url(blured_background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rectangle {
  background-color: white;
  width: 350px;
  height: 550px;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15vh;
  filter: drop-shadow(0 0 15px black);
}

.registration {
  font-family: RobotoCustom;
  color: black;
  text-align: center;
  font-size: 28px;
  padding-top: 15px;
}

.forms {
  font-family: RobotoCustom;
  color: black;
  text-align: center;
  padding-left: 15px;
  font-size: 24px;
  padding-right: 15px;
}

.formClass {
  opacity: .7;
  padding-top: 10px;
  font-family: RobotoCustom;
  margin: 10px 0;
  font-size: 24px;
  border: none;
  border-bottom: 2px solid gray;
}

.button {
  background-color: #008CBA; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.registered {
  font-family: RobotoCustom;
  text-align: center;
  margin: 10px 0;
  padding-top: 10px;
}

a {
  text-decoration:none;
}

@font-face {
  font-family: "RobotoCustom";
  src: url("../Roboto-Thin.ttf");
  font-weight: normal;
  font-style:normal;
}