html {
        background: url(welcome/background.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.upper-txt {
        position: absolute;
        top: 32px;
        left: 52px;
        font-family: RobotoCustom;
        color: white;
        font-size: 96px;
}

.href-decoration {
        text-decoration: none;
        color:white;
}

.start-button {
        position: absolute;
        bottom: 32px;
        right: 52px;
        font-family: RobotoCustom;
        color: white;
        font-size: 96px;
        text-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
        cursor: pointer;
}

.start-button:hover {
        -webkit-animation: pusate 1s infinite alternate;
        -moz-animation: pusate 1s infinite alternate;
        -animation: pusate 1s infinite alternate;
        text-shadow: 0 0 20px #ccc;
}

.author {
        position: absolute;
        bottom: 32px;
        left: 52px;
        font-family: RobotoCustom;
        color: white;
        font-size: 32px;
}

@font-face {
        font-family: "RobotoCustom";
        src: url("Roboto-Thin.ttf");
        font-weight: normal;
        font-style:normal;
}

@-webkit-keyframes pulsate {
    from { text-shadow: 0 0 10px #333; }
    to { text-shadow: 0 0 10px #ffffff; }
}
@-moz-keyframes pulsate {
    from { text-shadow: 0 0 10px #333; }
    to { text-shadow: 0 0 20px #ffffff; }
}
@keyframes pulsate {
    from { text-shadow: 0 0 10px #333; }
    to { text-shadow: 0 0 40px #ffffff; }
}