{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static 'clicker/hentai_style.css' %}'>
    <title>Hentai Clicker</title>
</head>
<body>
    <p class="score">Score: <span id="score">0</span></p>
    <img src="{% static 'clicker/hentai.png' %}" onclick="addToScore(1)">

    <p><button  class="buy-button" onclick="buyClick()">BetterClick [<span id="betterClickCost">20</span>] -- <span id="clicks">0</span></button></p>

    <script>
        let score = 0;
        let betterClickCost = 20;
        let clicks = 0;

        function buyClick() {
            if (score >= betterClickCost){
                score -= betterClickCost;
                clicks += 1;
                betterClickCost = Math.round(betterClickCost * 1.20);
                document.getElementById("score").innerHTML = score;
                document.getElementById("betterClickCost").innerHTML = betterClickCost;
                document.getElementById("clicks").innerHTML = clicks;
            }
        }

        function addToScore(amount) {
            score += amount;
            document.getElementById("score").innerHTML = score;
        }

        setInterval(function () {
            score += clicks;
            document.getElementById("score").innerHTML = score;
        }, 1000)
    </script>

    <p><a href="{{request.META.HTTP_REFERER}}">Go back</a></p>
</body>
</html>