{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static 'clicker/hentai_style.css' %}'>
    <title>Hentai Clicker</title>
</head>
<body>
    <div style="width: 100%;overflow:auto;">
        <div class="actual-gameplay" id="actual-gameplay" onclick="call_click()">
            <p class="score">Hits: <span id="score">{{user.score}}</span></p>
            <img class="girl" id="girl" src=""/>
        </div>
        <div class="bar">
            <p class="HPC" id="HPC">Hits Per Click:</p>
        </div>
    </div>
    <script src="{% static 'clicker/hentaiJS.js' %}"></script>
</body>
</html>