{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static 'login/login_style.css' %}'>
    <title>Авторизация в Hentai Clicker</title>
</head>
<body>
<div class="rectangle">
    <p class="login">Авторизация</p>
    <form class="forms" action="{% url 'users:login' %}" method='POST'>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="button">
    </form>
    <p class="nonregistered"><a href="{% url 'users:register' %}">Не зарегистрирован?</a></p>
</div>
</body>
</html>