{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static 'register/register_style.css' %}'>
    <title>Регистрация в Hentai Clicker</title>
</head>
<body>
<div class="rectangle">
        <p class="registration">Регистрация</p>
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}
        <form class="forms" action="{% url 'register' %}" method='POST'>
            {% csrf_token %}
            {{ form.as_p }}
            <input class="button" type="submit">
        </form>
        <p class="registered"><a href="{% url 'login' %}">Зарегистрирован?</a></p>
</div>
<div class="blur"></div>
</body>
</html>