{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href='{% static 'welcome/welcome_style.css' %}'>
    <title>Welcome</title>
</head>
<body>
    <div class="upper-txt">
        Welcome <br>to my <br>Hentai Clicker, <br> {{ user.get_username }}
    </div>
    <div class="logout-button">
        <a href="{% url 'users:logout' %}" class="href-decoration">Logout</a>
    </div>
    <div class="start-button">
        <a href="{% url 'clicker:play' %}" class="href-decoration">Start</a>
    </div>
    <div class="author">
        Author - Bulat Valiev
    </div>
</body>
</html>