# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.pyc
db.sqlite3
__pychache__
.DS_Store
myvenv
venv/
venv